html,
body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.main {
    margin-top: 60px;
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}

.parent-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 670px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.44);
}

.upper-red {
    height: 400px;
    width: 100%;
    background-color: rgb(180, 30, 20);
    border-bottom-left-radius: 20%;
}

.common {
    color: white;
}

.point1 {
    font-size: 30px;
    font-weight: 900;
    position: relative;
    left: 20px;
    top: 10%;
}

.point2 {
    font-size: 40px;
    position: relative;
    top: 30%;
    left: 4px;
}

.point3 {
    font-size: 13px;
    font-weight: 100;
    position: relative;
    top: 135px;
    left: -110px;
}

.point4 {
    position: relative;
    top: 150px;
    left: 25px;
    margin-bottom: 20px;
}

.games-played {
    font-weight: 300;
    font-size: 11px;
}

._87 {
    font-size: 23px;
}

img {
    position: absolute;
    top: 10%;
    left: 45%;
    height: 400px;
    width: fit-content;
    transform: scaleX(-1);
}

.below {
    padding: 5px;
    margin-top: 30px;
    padding-left: 12px;
    height: 80px;
    width: 80%;
    border-radius: 15px;
    color: rgb(180, 30, 20);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.44);
}

.circle {
    filter: brightness(0) saturate(100%) invert(24%) sepia(100%) saturate(6456%)
        hue-rotate(360deg) brightness(85%) contrast(110%);
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 3px rgb(180, 20, 20) solid;
    border-radius: 50%;
}

.lower-num {
    display: block;
    position: relative;
    top: -50px;
    left: 70px;
    font-size: 30px;
}

.lower-text {
    display: block;
    position: relative;
    top: -50px;
    left: 70px;
    font-size: 10px;
}
